* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: rgba(0, 0, 0, 0.3) url(./img/background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-blend-mode: darken;
}

.sign {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 5px rgb(19, 19, 19);
}

a {
  color: rgb(184, 233, 255);
  text-decoration: none;
  transition: 0.4s;
}

a:hover {
  color: rgb(255, 255, 255);
  transition: 0.4s;
}

.greeting-container {
  color: white;
  margin-top: 2vh;
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: 0.4s;
}

.greeting-container:hover {
  color: rgb(0, 247, 255);
  transition: 0.4s;
}

.clock-container {
  margin-top: 40vh !important;
  margin: auto;
  width: 500px;
  height: 150px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  color: white;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: 0.4s;
}

.clock-container:hover {
  background: rgba(255, 255, 255, 0.01);
  transition: 0.4s;
}

#hour {
  margin: 20px;
  margin-left: 1px;
  transition: 0.4s;
}

#hour:hover {
  color: rgb(0, 132, 255);
  transition: 0.4s;
}

#minute {
  margin: 20px;
  transition: 0.4s;
}

#minute:hover {
  color: rgb(0, 132, 255);
  transition: 0.4s;
}

#second {
  margin: 20px;
  margin-right: 1px;
  transition: 0.4s;
}

#second:hover {
  color: rgb(0, 132, 255);
  transition: 0.4s;
}
